.drawingCanvas {
  text-align: center;
}

.drawingCanvas-header {
  background-color: #222;
  height: 150px;
}

.drawingCanvas-intro {
  font-size: large;
}

.drawingCanvas-canvas {
  background-color: lightgreen;
  border: 5px solid black;
  border-radius: 5px;
  position: fixed;
  left: 32%;
}
