.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 48px;
}

.canvas-area {
  align-self: center;

  width: 600px;

  background-color: lightgreen;
  border: 1px solid grey;
}
